@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
:root {
  font-size: calc(12px + 0.3vw);
}

body {
  background-color: #2b2b2b;
}

.wrapper {
  max-width: 1368px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 16rem 5rem 5rem 1fr;
      grid-template-rows: 16rem 5rem 5rem 1fr;
  row-gap: 0.5rem;
  min-height: 100vh;
  height: 100%;
  font: 1.2rem/1.53 "Luckiest Guy", cursive;
  -webkit-font-feature-settings: "case", "calt", "tnum", "ss01", "zero";
          font-feature-settings: "case", "calt", "tnum", "ss01", "zero";
  text-rendering: optimizeLegibility;
  color: #e3d8c2;
  scrollbar-color: #bfbfbf;
}

.flame__container {
  grid-column: span 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flame__container__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.flame__container__text__span--flame {
  position: relative;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -2px;
  -webkit-animation: flame 10s infinite;
          animation: flame 10s infinite;
  font-style: italic;
  z-index: 1;
  line-height: 40px;
}

.flame__container__text__span {
  color: #e3d8c2;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: -2px;
  font-style: italic;
  line-height: 36px;
}

.flame__container__text__flame__container {
  width: 100%;
}

.flame__container__text__flame__container img {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 50%;
  left: 50%;
  top: 30px;
  width: 13rem;
}

.webring-css__btns--normal {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 4;
  grid-row: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(13.5rem, 14.4rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(13.5rem, 14.4rem));
  place-content: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  row-gap: 1.5em;
  padding-bottom: 1rem;
}

.card__container__figure {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  background-color: #bb7c6a40;
  border-radius: 4px;
}

.card__container__figure__img__container {
  position: relative;
}

.card__container__figure__img__container img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px;
}

.card__container__figure__figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__container__figure__figcaption__member {
  color: #feb522;
  font-size: 1.25em;
}

.card__container__figure__figcaption__title {
  font: 100% system-ui, sans-serif;
}

@media (min-width: 960px) {
  .card__container {
    place-content: start;
  }
}

@-webkit-keyframes flame {
  0% {
    color: #ffda56;
  }
  10% {
    color: #ffda56;
  }
  20% {
    color: #ffda56;
  }
  30% {
    color: #ffda56;
  }
  40% {
    color: #ffda56;
  }
  50% {
    color: #feb522;
  }
  60% {
    color: #fe9521;
  }
  70% {
    color: #fea813;
  }
  80% {
    color: #ffda56;
  }
  90% {
    color: #ff8b44;
  }
  100% {
    color: #bf8348;
  }
}

@keyframes flame {
  0% {
    color: #ffda56;
  }
  10% {
    color: #ffda56;
  }
  20% {
    color: #ffda56;
  }
  30% {
    color: #ffda56;
  }
  40% {
    color: #ffda56;
  }
  50% {
    color: #feb522;
  }
  60% {
    color: #fe9521;
  }
  70% {
    color: #fea813;
  }
  80% {
    color: #ffda56;
  }
  90% {
    color: #ff8b44;
  }
  100% {
    color: #bf8348;
  }
}
/*# sourceMappingURL=style.css.map */