@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

$background-black: #2b2b2b;
$color: #e3d8c2;
$accent: #bf8348;
$accent-light: #feb522;
$accent-bg: #bb7c6a40;
$focus: #e9a9a4;
$font: 1.2rem/1.53 "Luckiest Guy", cursive;
$secondary-font: 100% system-ui, sans-serif;
$thumbBG: #bfbfbf;

:root {
  font-size: calc(12px + 0.3vw);
}

body {
  background-color: $background-black;
}

p {
  font: $secondary-font;
}

.wrapper {
  max-width: 1368px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 16rem 2rem 2rem 1fr;
  row-gap: 0.5rem;
  min-height: 100vh;
  height: 100%;
  font: $font;
  font-feature-settings: "case", "calt", "tnum", "ss01", "zero";
  text-rendering: optimizeLegibility;
  color: $color;
  scrollbar-color: $thumbBG;
}

.flame__container {
  grid-column: span 8;
  display: flex;
  flex-direction: column-reverse;

  &__text {
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__span--flame {
      position: relative;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: -2px;
      animation: flame 10s infinite;
      font-style: italic;
      z-index: 1;
      line-height: 40px;
    }

    &__span {
      color: $color;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: -2px;
      font-style: italic;
      line-height: 36px;
    }
    &__flame__container {
      width: 100%;

      & img {
        position: absolute;
        transform: translate(-50%, -50%);
        right: 50%;
        left: 50%;
        top: 30px;
        width: 13rem;
      }
    }
  }
}

.webring-css__btns--normal {
  grid-column: 4/6;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member__container {
  grid-column: 2/8;
  grid-row: 4;
  display: flex;
  align-items: center;
}

.card__container {
  grid-column: 2/8;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.5rem, 14.4rem));
  place-content: center;
  column-gap: 1em;
  row-gap: 1.5em;
  padding-bottom: 1rem;

  &__figure {
    height: 100%;
    width: fit-content;
    padding: 6px;
    background-color: $accent-bg;
    border-radius: 4px;

    &__img__container {
      position: relative;

      & img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 4px;
      }
    }

    &__figcaption {
      display: flex;
      flex-direction: column;

      &__member {
        color: $accent-light;
        font-size: 1.15em;
      }

      &__title {
        font: $secondary-font;
      }
    }
  }
}

@media (min-width: 960px) {
  .card__container {
    place-content: start;
  }
}

@keyframes flame {
  0% {
    color: #ffda56;
  }

  10% {
    color: #ffda56;
  }

  20% {
    color: #ffda56;
  }

  30% {
    color: #ffda56;
  }

  40% {
    color: #ffda56;
  }

  50% {
    color: #feb522;
  }

  60% {
    color: #fe9521;
  }

  70% {
    color: #fea813;
  }

  80% {
    color: #ffda56;
  }

  90% {
    color: #ff8b44;
  }

  100% {
    color: #bf8348;
  }
}
