@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --background-color: #2b2b2b;
    --color: #e3d8c2;
    --accent: #bf8348;
    --accent-light: #feb522;
    --accent-bg: #bb7c6a40;
    --focus: #e9a9a4;
    --font: 1.2rem/1.53 'Luckiest Guy', cursive;
    --secondary-font: 100% system-ui, sans-serif;
}

html {
    --thumbBG: #bfbfbf;
    scroll-behavior: smooth;
}

::selection {
    background: var(--accent-bg);
}

:focus {
    outline: 2px solid var(--focus);
    outline-offset: 2px;
}


body {
    margin: 0;
    font: var(--font);
    font-feature-settings: 'case', 'calt', 'tnum', 'ss01', 'zero';
    text-rendering: optimizeLegibility;
    background: var(--background-color);
    color: var(--color);
    scrollbar-color: var(--thumbBG);
}

/* show focus only when user is tabbing, you can find it's relevant JS code in main.js*/
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus {
    outline: none;
}

/* custom scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 50px;
    border: 3px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #8e8e8e;
}

/* general classes
     ========================================================================== */
h1 {
    font-size: 1.5em;
    color: var(--accent);
    margin: 0;
}

a {
    color: var(--accent);
    word-break: break-word;
    text-decoration: unset;
}

.webring-css {
    display: block;
    max-width: 600px;
    margin: 1rem auto;
}

.batataHarra__title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 10px);
    margin-top: 10em;
}

.batataHarra__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px 0 30px;
}

/* Flame 
    =========================================================================== */
.flame {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -24px;
    width: 100%;
}

.batataHarra__title__text {
    position: relative;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: -2px;
    position: relative;
    animation: flame 10s infinite;
    white-space: nowrap;
    position: relative;
    font-style: italic;
}

.batataHarra__title__text--secondary {
    color: var(--color);
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: -2px;
    font-style: italic;
    line-height: 36px;
}

.batataHarra__title__text img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.666rem;
    border-style: none;
}


@-webkit-keyframes flame {
    0% {
        color: #bf8348;
    }

    10% {
        color: #ffda56;
    }

    20% {
        color: #ff9c54;
    }

    30% {
        color: #fea813;
    }

    40% {
        color: #feb522;
    }

    50% {
        color: #ff9c54;
    }

    60% {
        color: #fe9521;
    }

    70% {
        color: #ffda56;
    }

    80% {
        color: #ff8b44;
    }

    90% {
        color: #ffda56;
    }

    100% {
        color: #ffda56;
    }
}

@keyframes flame {
    0% {
        color: #ffda56;
    }

    10% {
        color: #ffda56;
    }

    20% {
        color: #ffda56;
    }

    30% {
        color: #ffda56;
    }

    40% {
        color: #ffda56;
    }

    50% {
        color: #feb522;
    }

    60% {
        color: #fe9521;
    }

    70% {
        color: #fea813;
    }

    80% {
        color: #ffda56;
    }

    90% {
        color: #ff8b44;
    }

    100% {
        color: #bf8348;
    }
}

/* Featured Batata Harra */
.feat__batataHarra__card {
    padding: 6px;
    border-radius: 4px;
    background-color: var(--accent-bg);
    margin: 12px;
    width: fit-content;
}

.feat__batataHarra__card>figcaption {
    display: flex;
    flex-direction: column;
}

.feat__batataHarra__card img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 4px;
    width: 100%;
}

.feat__batataHarra__member {
    color: var(--accent-light);
    font-size: 1.15em;
}

.feat__batataHarra__title {
    font: var(--secondary-font);
}
